/* 
    style v0.16
    by Alplox 
    https://github.com/Alplox/teles
*/

* {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-font-smoothing: subpixel-antialiased;
    -ms-font-smoothing: subpixel-antialiased;
    -o-font-smoothing: subpixel-antialiased;

    text-rendering:  optimizeLegibility;
}

a {
    text-decoration: none;
}

a:focus {
    outline: 2px var(--bs-indigo) ridge;
}

.fs-x-small{
    font-size: x-small;
}

.fs-smaller{
    font-size: smaller;
}

img, 
svg {
    width: 1.5rem;
    height: 1.5rem;
}

.img-fondo {
    width: 5rem;
    height: 5rem;
}

/* https://stackoverflow.com/a/53336754 */
button:hover > :not(.pe-1).bi-share-fill{
    filter: brightness(0%);
}

/* globales */
.modal-body-canales,
.modal-caption,
.share-btns{
    text-align: center;
}

/* Animacion boton ocultar modal bienvenida*/
.pulsate-3 {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.2);
    animation: pulsate-3 1.75s infinite cubic-bezier(0.66, 0, 0, 1);
}

@keyframes pulsate-3 {
    to {
        box-shadow: 0 0 0 15px rgba(255, 255, 255, 0);
    }
}

.pulsate-3:focus,
.pulsate-3:focus-visible {
    outline: 4px var(--bs-blue) solid;
    box-shadow: none;
}

/* alerta "listo para offline" */
pwa-update::part(offlineToast) {
    background: var(--bs-success);
    right: 20px;
	bottom: 80px;
}
/* alerta "nueva version disponible" */
pwa-update::part(updateToast) {
    right: 20px;
	bottom: 80px;
}

/* Reloj */
.reloj {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        -ms-flex-direction: column;
            flex-direction: column;
        -ms-flex-align: center;
            align-items: center;
}

.reloj span {
    pointer-events: none;
    user-select: none;
}

.reloj a {
    color: var(--bs-gray-500);
}

.reloj a,
.barra-overlay button,
.barra-overlay a{
    font-size: clamp(0.5rem, 0.75rem, 1rem);
}

.reloj a:hover{
    color: var(--bs-white);
    border: none;
}

.marca-al-mover {
    background-color: var(--bs-primary);
    border: 2px solid var(--bs-primary);
}

/* barra sobre canales */
.barra-overlay {
    opacity: 0.5;
}

.barra-overlay img {
    height: .75rem;
}

.barra-overlay:hover,
.barra-overlay:focus-within{
    opacity: 1;
}

.barra-overlay a:focus {
    outline: none;
    outline: 2px var(--bs-indigo) ridge;
}

/* modales interior */
.modal-body-canales { 
    display: grid;
    gap: 0.375rem;
    grid-template-columns: repeat(3, 1fr);
}

.offcanvas-body-canales {
    display: grid;
    gap: 0.375rem;
    grid-template-columns: repeat(2, 1fr);
}

.container-btn-group {
    display: grid;
    gap: 0.375rem;
    grid-template-columns: repeat(auto-fill, minmax(85px, 1fr));          /* https://css-tricks.com/auto-sizing-columns-css-grid-auto-fill-vs-auto-fit/ */
}

.form-floating {
    width: 100%;
}

.share-btns a:hover {
    border: none;
    opacity: 0.8;
}

.share-item {
    margin: 0.5rem;
    width: 4rem;
    height: 4rem;
}

.modal-footer {
    background-color: var(--bs-gray-dark);
}

/* Sidepanel inspirado en: https://codepen.io/FlorinPop17/pen/XWWZYYG */
.offcanvas-personalizaciones  {
	transition: -webkit-transform 0.4s ease-in-out;
	-webkit-transition: -webkit-transform 0.4s ease-in-out;
	-o-transition: transform 0.4s ease-in-out;
	transition: transform 0.4s ease-in-out;
	transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
	background-color: hsla(210, 11%, 15%, 0.8);
    -webkit-box-shadow:
    2.2px 2.3px 1.8px rgba(0, 0, 0, 0.046),
    5.2px 5.4px 4.2px rgba(0, 0, 0, 0.071),
    9.3px 9.7px 7.5px rgba(0, 0, 0, 0.089),
    15.4px 16.1px 12.5px rgba(0, 0, 0, 0.106),
    25.4px 26.5px 20.6px rgba(0, 0, 0, 0.123),
    44.4px 46.2px 36.1px rgba(0, 0, 0, 0.147),
    96px 100px 78px rgba(0, 0, 0, 0.2);
    box-shadow:
    2.2px 2.3px 1.8px rgba(0, 0, 0, 0.046),
    5.2px 5.4px 4.2px rgba(0, 0, 0, 0.071),
    9.3px 9.7px 7.5px rgba(0, 0, 0, 0.089),
    15.4px 16.1px 12.5px rgba(0, 0, 0, 0.106),
    25.4px 26.5px 20.6px rgba(0, 0, 0, 0.123),
    44.4px 46.2px 36.1px rgba(0, 0, 0, 0.147),
    96px 100px 78px rgba(0, 0, 0, 0.2)
}

.offcanvas-personalizaciones {
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
    max-height: 75dvh;
}

.close-sidepanel {
    box-sizing: content-box;
	position: absolute;
	top: 10px;
	right: 10px;
    -webkit-filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(29deg) brightness(112%) contrast(98%);
            filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(29deg) brightness(112%) contrast(98%);
}

.floating-btn {
    z-index: 3;
	position: fixed;
	right: 20px;
	bottom: 20px;
	background-color: hsla(210, 11%, 15%, 0.7);
}

.floating-btn:focus,
.floating-btn:focus-visible {
    outline: 2px var(--bs-blue) solid;
}

.ocultar-en-768px {
    display: block;
}

@media (max-width: 768px) {
    .modal-body-canales,
    .offcanvas-body-canales {
        display: grid;
        grid-template-columns: 1fr;
    }

    .offcanvas-canales {
        width: 250px;
    }

    .ocultar-en-768px {
        display: none;
    }
}

/* alerta de no javascript */
.no-js {
    z-index: 4;
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            flex-direction: column;
    -ms-flex-align: center;
        -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100vw;
    height: 100vh;
    padding: 10%;
    overflow: hidden;
    background-image: -o-linear-gradient(330deg, #a1c4fd 0%, #c2e9fb 100%);
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

/* animacion de fondo cuando noscript esta activo */
.wave,
.wave::before,
.wave::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 250vw;
  height: 250vw;
  margin-left: -125vw;
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  background: -o-linear-gradient(top, rgba(102, 32, 41, 0.2), transparent);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(102, 32, 41, 0.2)), to(transparent));
  background: linear-gradient(to bottom, rgba(102, 32, 41, 0.2), transparent);
  border-radius: 38% 42%;
  -webkit-animation: spin 36s infinite linear;
          animation: spin 36s infinite linear;
}

.wave::before {
  width: 105%;
  height: 95%;
  margin-top: -125vw;
  -webkit-transform-origin: 49% 51%;
      -ms-transform-origin: 49% 51%;
          transform-origin: 49% 51%;
  border-radius: 40% 38%;
  -webkit-animation: spin 20s infinite linear;
          animation: spin 20s infinite linear;
}

.wave::after {
  width: 102%;
  height: 98%;
  margin-top: -125vw;
  -webkit-transform-origin: 51% 49%;
      -ms-transform-origin: 51% 49%;
          transform-origin: 51% 49%;
  border-radius: 48% 42%;
  -webkit-animation: spin 40s infinite linear;
          animation: spin 40s infinite linear;
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}